# ignore files related to dune
_build

# Text editor and system
.vscode
.DS_Store

# ignore Python cached files
__pycache__

# ignore files related to grew compilation
_build_grew

# related to local dev
DEV_NOTES.md
install_dev.sh
